<!doctype html>
<html>
   <head>
      <!-- Using Bootstrap, so that we're `responsive`! -->
      <!-- Bootstrap requires the following three meta tags to fully function -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Javascript and Cascading Style Sheets (css) libraries -->
      <!-- mostly from content delivery networks                 -->
      <!-- jquery; CDN load is usually quick because it's likely cached -->
      <script type="text/javascript"
         src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- 12 column grid rearranges itself for smaller screens or windows. -->
      <!-- This project is using an older version, make sure to check out newer versions! -->
      <!-- http://getbootstrap.com/getting-started/  -->
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
         crossorigin="anonymous">
      <!-- Compiled and minified JavaScript -->
      <script
         src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
         integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
         crossorigin="anonymous"></script>
      <!-- Let's set our title! -->
      <title>Vocabulary Anagram</title>
      <!-- Our own css file.  Note how we can link directly here and not -->
      <!-- write any routing code in the Flask application. -->
      <link rel="stylesheet" href="/static/jumble.css" />
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-xs-6 text-center">
               <h1>Words</h1>
            </div>
         </div>
         <!-- Vocabularly words layed out in 6 columns;
             bootstrap may collapse to fewer columns and
             more rows if the window is narrow.
            -->
         <div class="row">
            {% for word in g.vocab %}
            <div class="col-xs-2 text-center"> {{ word }} </div>
            {% if loop.index is divisibleby 3 %}
         </div>
         <!-- row -->
         <div class="row">
            {% endif %}
            {% endfor %}
         </div>
         <!-- row -->
         <br />
         <div class="row">
            <div class="col-xs-6 text-center">
               Use letters from
            </div>
         </div>
         <div class="row">
            <div class="col-xs-6 text-center lead">
               <strong>{{ session.jumble }}</strong>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-6 text-center">
               to spell {{session.target_count}} words from the list.
            </div>
            <!-- col -->
         </div>
         <!-- row -->
         <br />
         <div class="row">
            <div class="col-xs-6 text-center">
               <form id="entry">
                  <label for="attempt">Word:</label>
                  <input id="attempt" name="attempt" type="text" width="15"
                     autocomplete="off"  autofocus />
               </form>
            </div>
         </div>
         <br />


 

         </p>
         
   
         <!-- Mismatch, already found, etc. "flashed" from Python -->

         <p id="message"></p>

         <p id="response"> </p>
         <p id = "debug"></p>
      </div>
      <!-- container -->
         <!-- JavaScript will insert text here -->
         <script>

            // Suppress normal form submission
            $("#entry").submit( function(event) {
               event.preventDefault();
              });

            var matches_found = [];
            $("#attempt").keyup(function(event) {
               var txt = $("#attempt").val();  // Current content of the input field
               var keycode = event.which;      // They key that just went up
               var letter = String.fromCharCode(keycode);

               if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }
               $.getJSON( "/_check", { text: txt, matches: matches_found },
                          function(data) {
                           console.log("matches_found=  "+ matches_found)
                           console.log("injumble= " + data.result.in_jumble);
                           console.log("matches found in data= " + data.result.matches)
                           
                           client_message = "";
                            
                           if (data.result.matched & data.result.in_jumble & !(data.result.matches.includes(data.result.inputtext)))
                              {
                                 console.log("Matching word = "+ data.result.inputtext);
                                 data.result.matches.push(data.result.inputtext);
                              }
                           else{
                              if (!data.result.matches.includes(data.result.inputtext)){
                                 if (!data.result.matched){
                                    client_message = "Word not in the list";
                                    console.log("Word not in the list")
                                 }
                                 else{
                                    if (!data.result.in_jumble){
                                       client_message = "Cannot create from jumble string";
                                       console.log("Cannot create from jumble string");
                                    }
                                 }}
                              else{
                                 client_message = "This word was already found";
                                 console.log("This word was already found")
                                 }
                           }
                           found_string = "";
                           matches_found = data.result.matches;
                           for (i=0; i< matches_found.length; i++){
                              found_string = found_string + matches_found[i] + " ";
                           }
                           $("#message").html(client_message);
                           $("#response").html("Found words: " + found_string);
                           
      
                           if (matches_found.length >= data.result.target_count){
                              window.location = "/success";
                           }
                           }
                       );
               });
         </script>
   </body>
</html>